In [67]:
import pandas as pd
from datetime import date, timedelta

In [68]:
corona = pd.read_csv('./data/coronaboard(2021-09-27).csv')
vaccine = pd.read_csv('./data/bloomberg(2021-09-27).csv')
country = pd.read_csv('./data/country.csv')

In [69]:
jandam = corona.loc[corona['국가'] == '잔담🚢', :]
jandam

Empty DataFrame
Columns: [국가, 확진자, 치료중, 위중증, 사망자, 완치, 치명(%), 완치(%), 발생률, 인구수]
Index: []

In [70]:
corona.drop(jandam.index, inplace=True)

In [71]:
corona['국가']

0          미국🇺🇸
1          인도🇮🇳
2         브라질🇧🇷
3          영국🇬🇧
4         러시아🇷🇺
         ...
145       바하마🇧🇸
146       마요트🇾🇹
147      소말리아🇸🇴
148       벨리즈🇧🇿
149    파푸아뉴기니🇵🇬
Name: 국가, Length: 150, dtype: object

In [72]:
corona['국가코드'] = corona['국가'].str[-2:]

In [73]:
corona['국가'] = corona['국가'].str[:-2]

In [74]:
corona.head()

,국가,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수,국가코드
0,미국,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,🇺🇸
1,인도,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,🇮🇳
2,브라질,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,🇧🇷
3,영국,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,🇬🇧
4,러시아,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,🇷🇺

In [75]:
corona.columns

Index(['국가', '확진자', '치료중', '위중증', '사망자', '완치', '치명(%)', '완치(%)', '발생률', '인구수',
       '국가코드'],
      dtype='object')

In [76]:
col = ['국가', '국가코드', '확진자', '치료중', '위중증', '사망자', '완치', '치명(%)', '완치(%)', '발생률', '인구수']

In [77]:
corona = corona[col].copy()

In [78]:
corona.head()

,국가,국가코드,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수
0,미국,🇺🇸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651
1,인도,🇮🇳,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385
2,브라질,🇧🇷,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417
3,영국,🇬🇧,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011
4,러시아,🇷🇺,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462

In [79]:
corona.tail()

,국가,국가코드,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수
145,바하마,🇧🇸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244
146,마요트,🇾🇹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815
147,소말리아,🇸🇴,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222
148,벨리즈,🇧🇿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628
149,파푸아뉴기니,🇵🇬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024

In [80]:
country

    국문(코로나보드)      영문(블룸버그)   나라        비고_뜻
0          가나         Ghana  NaN         NaN
1          가봉         Gabon  NaN         NaN
2        가이아나        Guyana  NaN         NaN
3         감비아        Gambia  NaN         NaN
4        과들루프           NaN  프랑스  Guadeloupe
..        ...           ...  ...         ...
222       NaN         Nauru  NaN         나우루
223       NaN         Tonga  NaN          통가
224       NaN  Turkmenistan  NaN     투르크메니스탄
225       NaN        Jersey  NaN          저지
226       NaN            EU  NaN         NaN

[227 rows x 4 columns]

In [81]:
vaccine

,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,Global Total,6139490122,–,–,–,29402426
1,Mainland China,2197689000,78.5,78.6,73.0,3378000
2,India,860066590,31.4,46.0,16.3,7379929
3,EU,562247469,63.3,67.2,64.5,1022301
4,U.S.,390114328,60.9,64.3,55.3,703352
...,...,...,...,...,...,...
221,Nauru,14863,57.2,58.6,55.8,4
222,St. Helena,7892,65.8,72.7,58.9,8
223,Falkland Islands,4407,73.5,87.7,59.2,202
224,Montserrat,2856,28.6,29.4,27.7,2
225,Eritrea,–,–,–,–,–

In [82]:
corona = corona.merge(country, left_on='국가', right_on='국문(코로나보드)')

In [83]:
corona

,국가,국가코드,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수,국문(코로나보드),영문(블룸버그),나라,비고_뜻
0,미국,🇺🇸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,미국,U.S.,NaN,NaN
1,인도,🇮🇳,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,인도,India,NaN,NaN
2,브라질,🇧🇷,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,브라질,Brazil,NaN,NaN
3,영국,🇬🇧,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,영국,U.K.,NaN,NaN
4,러시아,🇷🇺,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,러시아,Russia,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,바하마,🇧🇸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,바하마,Bahamas,NaN,NaN
145,마요트,🇾🇹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815,마요트,NaN,프랑스,Mayotte
146,소말리아,🇸🇴,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,소말리아,Somalia,NaN,NaN
147,벨리즈,🇧🇿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,벨리즈,Belize,NaN,NaN
148,파푸아뉴기니,🇵🇬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,파푸아뉴기니,Papua New Guinea,NaN,NaN

In [84]:
corona.drop(['국문(코로나보드)', '나라', '비고_뜻'], axis=1, inplace=True)

In [85]:
corona

,국가,국가코드,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수,영문(블룸버그)
0,미국,🇺🇸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,U.S.
1,인도,🇮🇳,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,India
2,브라질,🇧🇷,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,Brazil
3,영국,🇬🇧,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,U.K.
4,러시아,🇷🇺,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...
144,바하마,🇧🇸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,Bahamas
145,마요트,🇾🇹,20219,17077.0,NaN,178,2964.0,0.9,14.7,74197,272815,NaN
146,소말리아,🇸🇴,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,Somalia
147,벨리즈,🇧🇿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,Belize
148,파푸아뉴기니,🇵🇬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,Papua New Guinea

In [86]:
corona = corona.merge(vaccine, left_on='영문(블룸버그)', right_on='Countries and regions')

In [87]:
corona.drop(['영문(블룸버그)'], axis=1, inplace=True)

In [88]:
corona

,국가,국가코드,확진자,치료중,위중증,사망자,완치,치명(%),완치(%),발생률,인구수,Countries and regions,Doses administered,Enough for % of people,given 1+ dose,fully vaccinated,Daily rate of doses administered
0,미국,🇺🇸,43754953,9862346.0,22094.0,706338,33186269.0,1.6,75.8,132517,331002651,U.S.,390114328,60.9,64.3,55.3,703352
1,인도,🇮🇳,33693148,297170.0,8944.0,447362,32948616.0,1.3,97.8,24415,1380004385,India,860066590,31.4,46.0,16.3,7379929
2,브라질,🇧🇷,21351972,417115.0,8318.0,594484,20340373.0,2.8,95.3,100520,212559417,Brazil,231844536,56.2,70.9,41.0,1360269
3,영국,🇬🇧,7664230,1342492.0,916.0,136168,6185570.0,1.8,80.7,113451,67886011,U.K.,93461887,70.0,72.9,67.0,69770
4,러시아,🇷🇺,7443149,620353.0,2300.0,204679,6618117.0,2.7,88.9,51003,145934462,Russia,89453699,30.5,32.4,28.4,234726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,세이셸,🇸🇨,21257,485.0,NaN,115,20657.0,0.5,97.2,216143,98347,Seychelles,148402,77.3,80.5,74.1,154
136,바하마,🇧🇸,20603,1816.0,15.0,522,18265.0,2.5,88.7,52830,393244,Bahamas,184461,24.2,30.0,18.4,611
137,소말리아,🇸🇴,19723,9206.0,NaN,1103,9414.0,5.6,47.7,1241,15893222,Somalia,430762,1.4,1.7,1.2,12993
138,벨리즈,🇧🇿,19600,1951.0,10.0,402,17247.0,2.1,88.0,49292,397628,Belize,298343,36.6,45.9,27.2,3113
139,파푸아뉴기니,🇵🇬,19523,943.0,7.0,227,18353.0,1.2,94.0,2182,8947024,Papua New Guinea,164776,1.0,1.4,0.5,2517

In [89]:
corona['위중증'] = corona['위중증'].interpolate()

In [90]:
corona['치료중'] = corona['치료중'].interpolate()

In [91]:
corona['완치'] = corona['완치'].interpolate()

In [92]:
corona['완치(%)'] = corona['완치(%)'].interpolate()

In [93]:
corona.isnull().sum()

국가                                  0
국가코드                                0
확진자                                 0
치료중                                 0
위중증                                 0
사망자                                 0
완치                                  0
치명(%)                               0
완치(%)                               0
발생률                                 0
인구수                                 0
Countries and regions               0
Doses administered                  0
Enough for % of people              0
given 1+ dose                       0
fully vaccinated                    0
Daily rate of doses administered    0
dtype: int64

In [94]:
# 어제 날짜
yesterday = date.today() - timedelta(1)
yesterday = yesterday.strftime('%Y-%m-%d')

# 파일명 정하기
file_name = f'./data/data_merged({yesterday}).csv'

In [95]:
corona.to_csv(file_name, index=False, encoding='utf-8-sig')